<form method="post" action="{{ path('dema_delete', {'id': dema.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dema.id) }}">
    <button class="btn">Delete</button>
</form>
