{% extends 'base.html.twig' %}

{% block title %}Edit Dema{% endblock %}

{% block body %}
    <h1>Edit Dema</h1>

    {{ include('dema/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('dema_index') }}">back to list</a>

    {{ include('dema/_delete_form.html.twig') }}
{% endblock %}
