{% extends 'base.html.twig' %}

{% block title %}Dema index{% endblock %}

{% block body %}
    <h1>Dema index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Dema</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dema in demas %}
            <tr>
                <td>{{ dema.id }}</td>
                <td>{{ dema.Dema }}</td>
                <td>
                    <a href="{{ path('dema_show', {'id': dema.id}) }}">show</a>
                    <a href="{{ path('dema_edit', {'id': dema.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dema_new') }}">Create new</a>
{% endblock %}
