{% extends 'base.html.twig' %}

{% block title %}New Dema{% endblock %}

{% block body %}
    <h1>Create new Dema</h1>

    {{ include('dema/_form.html.twig') }}

    <a href="{{ path('dema_index') }}">back to list</a>
{% endblock %}
