{% extends 'base.html.twig' %}

{% block title %}Dema{% endblock %}

{% block body %}
    <h1>Dema</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dema.id }}</td>
            </tr>
            <tr>
                <th>Dema</th>
                <td>{{ dema.Dema }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('dema_index') }}">back to list</a>

    <a href="{{ path('dema_edit', {'id': dema.id}) }}">edit</a>

    {{ include('dema/_delete_form.html.twig') }}
{% endblock %}
